* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header*/
header {
    background-color: white;
}

/*navbar*/
.navbar{
    margin-bottom: 2rem;
}

/* Body*/
body {
    background-color:#F9FAFB;
}