/* Títulos y párrafos */
.titulosPrincipales{
    color:#F9FAFB;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color:#695E94;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.titulosExtras{
    color:#695E94;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.subtitulos {
    color: #695E94;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5em;
}

p {
    color: #384151;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
}
